[submodule "external/cpprelude"]
	path = external/cpprelude
	url = git@github.com:MoustaphaSaad/cpprelude.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = git@github.com:MoustaphaSaad/Catch2.git
